*{
margin:0;
padding:0;
}
html{
height:100%;
}
body{
position:relative;
height:100%;
background:#fff    font-family: 'Montserrat', sans-serif;
font-weight:400;
}
.navbox{
position:fixed;
float:left;
}
ul.nav{
list-style:none;
font-family:'Montserrat', sans-serif;
font-weight:400;
display:block;
width:100px;
position:relative;
top:10px;
left:0;
padding:0;
background:#fff no-repeat;
/*background-size*/
-webkit-background-size:50% 100%;
   -moz-background-size:50% 100%;
     -o-background-size:50% 100%;
     -ms-background-size:50% 100%;   
      background-size:50% 100%;
}
li{
margin:5px 0 0;
}
ul.nav li a{
/*transition*/
-webkit-transition:all .3s ease-out;
   -moz-transition:all .3s ease-out;
     -o-transition:all .3s ease-out;
     -ms-transition:all .3s ease-out;   
     transition:all .3s ease-out;
background:#cbcbcb no-repeat;
color:#174867;
padding:7px;
-webkit-border-top-right-radius:10px;
-webkit-border-bottom-right-radius:10px;
width:60px;
display:block;
text-decoration:none;
font-family:'Montserrat', sans-serif;
font-weight: 400;
/*box-shadow*/
-webkit-box-shadow:2px 2px 4px #888;
   -moz-box-shadow:2px 2px 4px #888;
   -o-box-shadow:2px 2px 4px #888;
   -ms-box-shadow:2px 2px 4px #888;
   box-shadow:2px 2px 4px #888;
}
ul.nav li a:hover{
background:#4c4c4c no-repeat;
color:#6772cd;
padding:7px 15px;
}
footer{
background-color:#cd6772;
width:100%;
height: 20px;
bottom:0;
right:0px;
position:fixed;
}
header{
background-color:#4c4c4c;
height:10px;
width:100%;
top:0;
position:fixed;
}
#content{
margin:0 auto;
width:100px;
}
@-webkit-keyframes spincube{
from,to {
    -webkit-transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg)
}

16% {
    -webkit-transform:rotateY(-90deg)
}

33% {
    -webkit-transform:rotateY(-90deg) rotateZ(90deg)
}

50% {
    -webkit-transform:rotateY(-180deg) rotateZ(90deg)
}

66% {
    -webkit-transform:rotateY(-270deg) rotateX(90deg)
}

83% {
    -webkit-transform:rotateX(90deg)
}
}
@keyframes spincube{
from,to {
    -moz-transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg)
}

16% {
    -moz-transform:rotateY(-90deg);
    -ms-transform:rotateY(-90deg);
    transform:rotateY(-90deg)
}

33% {
    -moz-transform:rotateY(-90deg) rotateZ(90deg);
    -ms-transform:rotateY(-90deg) rotateZ(90deg);
    transform:rotateY(-90deg) rotateZ(90deg)
}

50% {
    -moz-transform:rotateY(-180deg) rotateZ(90deg);
    -ms-transform:rotateY(-180deg) rotateZ(90deg);
    transform:rotateY(-180deg) rotateZ(90deg)
}

66% {
    -moz-transform:rotateY(-270deg) rotateX(90deg);
    -ms-transform:rotateY(-270deg) rotateX(90deg);
    transform:rotateY(-270deg) rotateX(90deg)
}

83% {
    -moz-transform:rotateX(90deg);
    -ms-transform:rotateX(90deg);
    transform:rotateX(90deg)
}
}
.cubespinner{
/*animation-name*/
-webkit-animation-name:spincube;
   -moz-animation-name:spincube;
    -ms-animation-name:spincube;
     -o-animation-name:spincube;
        animation-name:spincube;
/*animation-timing-function*/
-webkit-animation-timing-function:ease-in-out;
   -moz-animation-timing-function:ease-in-out;
    -ms-animation-timing-function:ease-in-out;
     -o-animation-timing-function:ease-in-out;
        animation-timing-function:ease-in-out;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-duration*/
-webkit-animation-duration:16s;
   -moz-animation-duration:16s;
    -ms-animation-duration:16s;
     -o-animation-duration:16s;
        animation-duration:16s;
/*transform-style*/
-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
     -o-transform-style:preserve-3d;
        transform-style:preserve-3d;
/*transform-origin*/
-webkit-transform-origin:60px 60px 0;
   -moz-transform-origin:60px 60px 0;
    -ms-transform-origin:60px 60px 0;
     -o-transform-origin:60px 60px 0;
        transform-origin:60px 60px 0;
}
.cubespinner div{
position:fixed;
width:120px;
height:120px;
align:center;
border:2.5px solid #eee;
background:rgba(255,255,255,.8);
/*box-shadow*/
-webkit-box-shadow:inset 0 0 20px rgba(0,0,0,.2);
   -moz-box-shadow:inset 0 0 20px rgba(0,0,0,.2);
        box-shadow:inset 0 0 20px rgba(0,0,0,.2);
text-align:center;
font-size:30px color: #000;
}
.cubespinner .face1{
/*transform*/
-webkit-transform:translateZ(60px);
   -moz-transform:translateZ(60px);
    -ms-transform:translateZ(60px);
     -o-transform:translateZ(60px);
        transform:translateZ(60px);
}
.cubespinner .face2{
/*transform*/
-webkit-transform:rotateY(90deg) translateZ(60px);
   -moz-transform:rotateY(90deg) translateZ(60px);
    -ms-transform:rotateY(90deg) translateZ(60px);
     -o-transform:rotateY(90deg) translateZ(60px);
        transform:rotateY(90deg) translateZ(60px);
}
.cubespinner .face3{
/*transform*/
-webkit-transform:rotateY(90deg) rotateX(90deg) translateZ(60px);
   -moz-transform:rotateY(90deg) rotateX(90deg) translateZ(60px);
    -ms-transform:rotateY(90deg) rotateX(90deg) translateZ(60px);
     -o-transform:rotateY(90deg) rotateX(90deg) translateZ(60px);
        transform:rotateY(90deg) rotateX(90deg) translateZ(60px);
}
.cubespinner .face4{
/*transform*/
-webkit-transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);
   -moz-transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -ms-transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);
     -o-transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);
        transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);
}
.cubespinner .face5{
/*transform*/
-webkit-transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px);
   -moz-transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -ms-transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px);
     -o-transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px);
        transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}
.cubespinner .face6{
/*transform*/
-webkit-transform:rotateX(-90deg) translateZ(60px);
   -moz-transform:rotateX(-90deg) translateZ(60px);
    -ms-transform:rotateX(-90deg) translateZ(60px);
     -o-transform:rotateX(-90deg) translateZ(60px);
        transform:rotateX(-90deg) translateZ(60px);
}
.sb-search {
	position: relative;
	margin-top: 10px;
	width: 0%;
	min-width: 60px;
	height: 60px;
	float: right;
	overflow: hidden;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;

	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}

input[type="search"].sb-search-input {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}
.sb-search-input::-webkit-input-placeholder {
	color: #efb480;
}

.sb-search-input:-moz-placeholder {
	color: #efb480;
}

.sb-search-input::-moz-placeholder {
	color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
	color: #efb480;
}
.sb-icon-search,
.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}
.sb-icon-search {
	color: #fff;
	background: #e67e22;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\e000";
}
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #da6d0d;
	color: #fff;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
body {
    background-color: #fff;  
   }
   
    .container {
     width: 600px;
     height: 600px;
   }
   
   .quote {
     background-color: #579787;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     color: #fff;
     margin: 0;
     padding: 20px;
     font-size: 40px;
   }
   
   .name {
     background-color: #cd6772;
     border-bottom-left-radius: 8px;
     border-bottom-right-radius: 8px;
     color: #fff;
     font-size: 20px;
     padding: 20px;
     text-align: center;
   }
   
   blockquote {
     padding: 0;
     margin: 0;
   }

}
#featured-content .loading .flex-viewport { max-height: 300px; }
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
